<!DOCTYPE html>
<html lang="en">
<head>

    <!-- start: Meta -->
    <meta charset="utf-8">
    <title>JIS Cost Savings Application</title>
    <meta name="description" content="JIS">
    <meta name="author" content="Bob Schnable">
    <!-- end: Meta -->
    <!-- start: CSS -->
    <link href="~/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Public/Custom.css" rel="stylesheet">
    <!-- end: CSS -->
    <!-- start: Favicon -->
    <link rel="shortcut icon" href="img/favicon.ico">
    <!-- end: Favicon -->
</head>

<body>
    <!-- start: Header -->
    <div class="navbar navbar-default">
        <div class="container-fluid">
            <a class="navbar-brand" href="index">JIS Cost Savings App</a>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Account User</a></li>
                            <li><a href="#">Settings</a></li>
                            <li><a href="#">Sign Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div><!--container fluid-->
    </div><!--navbar default-->
    <!-- start: Header -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="#">Machine Productivity</a></li>
                    <li><a href="#">Results</a></li>
                </ul>
            </div>
            <div class="col-md-9 col-md-offset-1">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td>Machine Productivity</td>
                            <td></td>
                            <td><strong>Competitor</strong></td>
                            <td><strong>JIS</strong></td>
                        </tr>
                    </thead>
                    <tr>
                        <td></td>
                        <td>Cutter</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Inserts</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Inches</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Cutter Diameter</td>
                        <td>Inches</td>
                        <td>2</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>Annual Production</td>
                        <td>Number</td>
                        <td>500</td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>Machine Burden Rate</td>
                        <td>$/Hour</td>
                        <td>$75.00</td>
                        <td>$75.00</td>
                    </tr>
                    <tr>
                        <td>Length of Cut</td>
                        <td>Inches</td>
                        <td>48</td>
                        <td>48</td>
                    </tr>
                    <tr>
                        <td>Feedrate</td>
                        <td>IPM</td>
                        <td>30</td>
                        <td>40</td>
                    </tr>
                    <tr class="formula">
                        <td>Cut Time</td>
                        <td>Minutes</td>
                        <td>1.60</td>
                        <td>1.20</td>
                    </tr>
                    <tr>
                        <td>Tool Life</td>
                        <td>Pieces</td>
                        <td>20</td>
                        <td>45</td>
                    </tr>
                    <tr>
                        <td>Tool Change Frequency</td>
                        <td>Number</td>
                        <td>20</td>
                        <td>30</td>
                    </tr>
                    <tr class="formula">
                        <td>Tool Changes Per Year</td>
                        <td>Number</td>
                        <td>25</td>
                        <td>17</td>
                    </tr>
                    <tr>
                        <td>Time to Change Tools</td>
                        <td>Minutes</td>
                        <td>3</td>
                        <td>3</td>
                    </tr>
                    <tr class="formula">
                        <td>Total Tool Change Time per year</td>
                        <td>Minutes</td>
                        <td>75</td>
                        <td>51</td>
                    </tr>
                    <tr class="formula">
                        <td>Total Tool Change Cost per year</td>
                        <td>$</td>
                        <td>$93.75</td>
                        <td>$63.75</td>
                    </tr>
                    <tr class="formula">
                        <td>Machine Cost per year</td>
                        <td>$</td>
                        <td>$1000.00</td>
                        <td>$750.00</td>
                    </tr>
                    <tr class="formula">
                        <td>Total Machine Cost per piece</td>
                        <td>$</td>
                        <td>$2.19</td>
                        <td>$1.63</td>
                    </tr>
                    <tr class="new-section">
                        <td>Non-Perishable Tooling Cost</td>
                        <td colspan="3"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <!-- start: JavaScript-->
    <script src="~/bower_components/angular/angular.min.js"></script>
    <script src="~/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="//localhost:35729/livereload.js"></script>
    <!-- end: JavaScript-->

</body>
</html>
