<!DOCTYPE html>
<html ng-app="CostSavings" ng-controller="ResultsController" lang="en">
<head>
    <!-- start: Meta -->
    <meta charset="utf-8">
    <title>JIS Cost Savings Application</title>
    <meta name="description" content="JIS">
    <meta name="author" content="Bob Schnable">
    <!-- end: Meta -->
    <!-- start: CSS -->
    <link href="~/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Public/Custom.css" rel="stylesheet">
    <!-- end: CSS -->
    <!-- start: Favicon -->
    <link rel="shortcut icon" href="img/favicon.ico">
    <!-- end: Favicon -->
</head>

<body>
    <!-- start: Header -->
    <div class="navbar navbar-default">
        <div class="container">
            <a class="navbar-brand" href="index">JIS Cost Savings App</a>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Account User</a></li>
                            <li><a href="#">Settings</a></li>
                            <li><a href="#">Sign Out</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                </form>
                @*<button type="submit" class="navbar-btn navbar-text navbar-right">New</button>*@
                <form class="navbar-form navbar-right">
                    <button type="submit" class="btn btn-default">New</button>
                </form>
            </div>
        </div><!--container fluid-->
    </div><!--navbar default-->
    <!-- start: Header -->

    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="#">Results</a></li>
                    <li><a href="#">Information</a></li>
                </ul>
            </div>
            <div class="col-md-9 col-md-offset-1">
                <table class="table table-bordered table-striped">
                    <thead class="custHeading">
                        <tr>
                            <td colspan="4">Customer Name</td>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <td>Machine Productivity</td>
                            <td></td>
                            <td><strong>Competitor</strong></td>
                            <td><strong>JIS</strong></td>
                        </tr>
                    </thead>
                    <tr>
                        <td></td>
                        <td>Cutter</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Inserts</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Inches</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Cutter Diameter</td>
                        <td>Inches</td>
                        <td> <input contenteditable="true" ng-model="resultsForm.cutDiameterComp">
                        <td> <input contenteditable="true" ng-model="resultsForm.cutDiameterJIS">
                    </tr>
                    <tr>
                        <td>Annual Production</td>
                        <td>Number</td>
                        <td> <input contenteditable="true" ng-model="resultsForm.annualProdComp" ng-change="calcChangePerYear(resultsForm)">
                        <td> <input contenteditable="true" ng-model="resultsForm.annualProdJIS" ng-change="calcChangePerYear(resultsForm)">
                    </tr>
                    <tr>
                        <td>Machine Burden Rate</td>
                        <td>$/Hour</td>
                        <td><input /></td>
                        <td><input /></td>
                    </tr>
                    <tr>
                        <td>Length of Cut</td>
                        <td>Inches</td>
                        <td contenteditable="true" ng-model="resultsForm.lengthOfCutComp">{{resultsForm.lengthOfCutComp}}</td>
                        <td> <input contenteditable="true" ng-model="resultsForm.lengthOfCutJIS" ng-change="calcCutTime(resultsForm)"></td>
                    </tr>
                    <tr>
                        <td>Feedrate</td>
                        <td>IPM</td>
                        <td contenteditable="true" ng-model="resultsForm.feedrateComp">{{resultsForm.feedrateComp}}</td>
                        <td> <input contenteditable="true" ng-model="resultsForm.feedrateJIS" ng-change="calcCutTime(resultsForm)"></td>
                    </tr>
                    <tr class="formula">
                        <td>Cut Time</td>
                        <td>Minutes</td>
                        <td> <input ng-model="resultsForm.cutTimeComp">
                        <td> <input ng-model="resultsForm.cutTimeJIS">
                    </tr>
                    <tr>
                        <td>Tool Life</td>
                        <td>Pieces</td>
                        <td><input ng-model="resultsForm.toolLifeComp" />
                        <td><input ng-model="resultsForm.toolLifeJIS" />
                    </tr>
                    <tr>
                        <td>Tool Change Frequency</td>
                        <td>Number</td>
                        <td> <input ng-model="resultsForm.toolChgFreqComp" ng-change="calcChangePerYear(resultsForm)" />
                        <td> <input ng-model="resultsForm.toolChgFreqJIS" ng-change="calcChangePerYear(resultsForm)" />
                    </tr>
                    <tr class="formula">
                        <td>Tool Changes Per Year</td>
                        <td>Number</td>
                        <td> <input ng-model="resultsForm.toolChgYearComp" ng-change="calcToolChangeTimeYear(resultsForm)" />
                        <td> <input ng-model="resultsForm.toolChgYearJIS" ng-change="calcToolChangeTimeYear(resultsForm)" />
                    </tr>
                    <tr>
                        <td>Time to Change Tools</td>
                        <td>Minutes</td>
                        <td> <input ng-model="resultsForm.toolChgTimeComp" ng-change="calcToolChangeTimeYear(resultsForm)" />
                        <td> <input ng-model="resultsForm.toolChgTimeJIS" ng-change="calcToolChangeTimeYear(resultsForm)" />
                    </tr>
                    <tr class="formula">
                        <td>Total Tool Change Time per year</td>
                        <td>Minutes</td>
                        <td> <input ng-model="resultsForm.toolChgTimeYrComp" />
                        <td> <input ng-model="resultsForm.toolChgTimeYrJIS" />
                    </tr>
                    <tr class="formula">
                        <td>Total Tool Change Cost per year</td>
                        <td>$</td>
                        <td> <input ng-model="resultsForm.toolChgCostYrComp" />
                        <td> <input ng-model="resultsForm.toolChgCostYrJIS" />
                    </tr>
                    <tr class="formula">
                        <td>Machine Cost per year</td>
                        <td>$</td>
                        <td> <input ng-model="resultsForm.machCostYrComp" />
                        <td> <input ng-model="resultsForm.machCostYrJIS" />
                    </tr>
                    <tr class="formula">
                        <td>Total Machine Cost per piece</td>
                        <td>$</td>
                        <td> <input ng-model="resultsForm.totalMachCostPieceComp" />
                        <td> <input ng-model="resultsForm.totalMachCostPieceJIS" />
                    </tr>
                    <tr class="new-section">
                        <td>Non-Perishable Tooling Cost</td>
                        <td colspan="3"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <!-- start: JavaScript-->
    <script src="~/bower_components/angular/angular.min.js"></script>
    <script src="~/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Scripts/ResultsController.js"></script>
    <script src="~/Scripts/CostSavings.js"></script>
    <script src="~/Scripts/LoadDirective.js"></script>
    <script src="//localhost:35729/livereload.js"></script>
    <!-- end: JavaScript-->
    <p>{{calcAll(resultsForm)}}</p>
</body>
</html>
